.appBlock{
	@extend .cardBase;
	font-size:0.2rem;
	width:5rem;
	height:2.4rem;
	:first-child{
		width:60%;
		height:2.4rem;
		float:left;
		border-right: 0.01rem solid $UIline;
		margin-right: 2%;
		box-sizing: border-box;
		>img{
			width:100%;
			height:1.87rem;
		}
		>div{
			width:100%;
			height:0.48rem;
		}
	}
	:last-child{
		float:right;
		width: 38%;
		>h3{

		}
		>span{

		}
		>p{

		}
		>button{

		}
	}
}