.piButton{
	border:0.01rem solid $UIborder;
	background-color: #fff;
	border-radius:0.1rem;
    outline:none;

    text-decoration: none;
    color:$UIdark;
    box-shadow:inset 0rem -0.01rem 0rem 0rem rgba(0,0,0,0.2);
    outline: none;
    &:hover{
    	border: 0.01rem solid $UIgrey;
    }
    &:active{
        box-shadow: inset 0rem 0.02rem 0.04rem 0rem rgba(0,0,0,0.50);

    }
}



//选项卡切换
.piNavBtnGroup{
    margin-left: 0.1rem;
    >button{
        @extend .piButton;
        height: 0.35rem;
        display: block;
        float:left;
        margin:0rem;
        margin-left: -0.01rem;
		border-radius: 0rem;
    }
    :first-child{
        border-radius:0.1rem 0rem 0rem 0.1rem;
    }
    :last-child{
        border-radius:0rem 0.1rem 0.1rem 0rem;
    }
    :active{

    }
}

.piBtnGroupActive{
    box-shadow: inset 0rem 0.02rem 0.04rem 0rem rgba(0,0,0,0.50) !important;
    background-color:$UIline !important;
}
