
.piContiner{
	width:100%;
	overflow:scroll;
	overflow-x:hidden;

}

.piCourseContainer{
	@extend .piContiner;
	height:3.1rem;
	margin:auto;
	border-top:solid 0.01rem $UIline;
}

.piFileContainer{
	@extend .piContiner;
	margin:0rem;
	padding:0.05rem;
	border-right:solid 0.01rem $UIline;
	border-top:solid 0.01rem $UIline;
	height:4.6rem;
}

.piCountContainer{
	@extend .piContiner;
	margin:0rem;
	padding:0.05rem;
	border-right:solid 0.01rem $UIline;
	border-top:solid 0.01rem $UIline;
	height:4.6rem;
}

.piStudentCourseContainer{
	@extend .piContiner;
	min-height:3rem;
	padding:0.05rem;
}
