.piCourseContainer{
	width:7.4rem;
	height:3.1rem;
	overflow:scroll;
	overflow-x:hidden;
	margin:auto;
}

.piFileContainer{
	width:100%;
	margin:0rem;
	padding:0.05rem;
	overflow:scroll;
	overflow-x:hidden;
	border-right:solid 0.01rem $UIline;
}
