.downloadBlock{
    width:100%;
    >h2{
        display: block;
        margin:0rem;
        width:100%;
        height:0.6rem;
        line-height: 0.6rem;
        background-color: rgba(255,255,255,0.5);
        border-top: 0.01rem $UIborder solid;
        border-bottom: 0.01rem $UIline solid;
        padding-left:0.5rem;
        padding-right: 0.5rem;
        font-size: 0.24rem;
        box-sizing: border-box;
        color: $UIgrey;
    }
    >div{
        width:100%;
        margin: auto;
    }
}

.download{
    width:2rem;
    height:2.6rem;
    float: left;
    margin:2 * $gutter;
    >div{
        @extend .cardMain;
        overflow:hidden;
        height:2rem;
        &:hover{
            >p{
                opacity: 1;
            }
        }
        >p{
            opacity: 0;
            display: block;
            position: relative;
            top:-2.2rem;
            padding: 0.05rem;
            box-sizing: border-box;
            width:2rem;
            font-size: 0.18rem;
            background-color: rgba(255,255,255,0.8);
            height:1rem;
            transition-timing-function: ease-in-out;
            transition-duration: 0.2s;
        }
        >img{
            width:2rem;;
            height:1.6rem;
        }
        >div{
            position: relative;
            top:-0.34rem;
            background-color: $UIdark;
            font-size: 0.2rem;
            text-align: center;
            overflow: hidden;
            height:0.4rem;
            line-height: 0.4rem;
            color:#fff;
        }
    }
    >a{
        margin: auto;
        display: block;
        font-size: 0.2rem;
        line-height: 0.4rem;
        text-align: center;
        @extend .piButton;
        width:1.6rem;
        height:0.4rem;
    }
}
