.piFooterA{
	width:100%;
	height:2.2rem;
	background-image:url(../img/footerABack.png);
	background-size:1.5rem 1.5rem;
	text-align:center;
	color:#f8f8f8;
box-shadow: 0rem -0.07rem 0.39rem 0rem rgba(138,130,182,0.31);
	>ul{
		padding:0rem;
		width:80%;
		list-style: none;
		margin:auto;
		>li{
			width:33%;
			font-size: 0.2rem;
			float: left;
			>ul{
				list-style: none;
			    padding: 0rem;
			    >li{
			    	height: 0.4rem;
			    	line-height: 0.4rem;
			    	text-align: center;
			    	border-radius: 0.2rem;
			    	transition-timing-function: ease-in-out;
			    	transition-duration: 0.2s;
			    	&:hover{
			    		color:$UIpurple;
			    		background-color:#fff;
			    	}
			    	&:active{
			    		color:#fff;
			    		background-color:$UIpurple;
			    	}
			    }
			}
		}
	}
}


.piFooterB{
	width:100%;
	height:0.7rem;
	line-height:0.7rem;
    color:#fff;
    font-size: 0.2rem;
    background-color:$UIpurple;
    text-align: center;
box-shadow: inset 0rem 0.02rem 0.04rem 0rem rgba(0,0,0,0.23);
}

.piFooterC{
	position:fixed;
	bottom:0rem;
	width:100%;
	height:0.3rem;
	background-color:$UIpurplelight;
	border-top:0.01rem solid $UIborder;
}
