.piModal{

	display:none;
	background: #FFFFFF;
	box-shadow: 0px 18px 50px 0px rgba(0,0,0,0.41);
	border-radius: 10px;
	position:fixed;
	top:1rem;
	left:1rem;
	z-index:999;
	opacity:0;
}

.modalLarge{
	width:8rem;
	height:4rem;
}

.modalMedium{
	width:6rem;
	height:4rem;
}

.modalSmall{
	width:5rem;
	height:2rem;
}

.piModalBack{
	display: block;
	width:20rem;
	height: 20rem;
	background-color:rgb(0,0,0);
	position:fixed;
	top:0rem;
	left:0rem;
	opacity:0;

}
