.piModal{

	display:none;
	background: #FFFFFF;
	box-shadow: 0px 18px 50px 0px rgba(0,0,0,0.41);
	border-radius: 10px;
	position:fixed;
	top:1rem;
	left:1rem;
	z-index:999;
	opacity:0;
}

.modalSizeBase{
	min-height: 0.45rem * 5;
}

.modalLarge {
	@extend .modalSizeBase;
	width: 8rem;
}
.modalMedium {
	width: 6rem;
	@extend .modalSizeBase;
}
.modalSmall {
	width: 5rem;
	@extend .modalSizeBase;
}

.piModalBack{
	display: block;
	width:20rem;
	height: 20rem;
	background-color:rgb(0,0,0);
	position:fixed;
	top:0rem;
	left:0rem;
	opacity:0;

}
