

.piPanel{
	@extend .cardBase;
    width:100%;
    min-height:0.45rem;
	margin-bottom:$gutter;

}

.piPanelHead{
    height:0.45rem;
    width: 100%;
    box-sizing:border-box;
    padding-top: ($piFormRowHeight - $piFormEleHeight) / 2;
    padding-bottom: ($piFormRowHeight - $piFormEleHeight) / 2;
    border-bottom: 0.01rem solid $UIline;

}

.piPanelBody{
    //height:300px;//#
}

.piPanelPara{
	display: block;
	font-size: 0.2rem;
	margin:0.2rem;
}

.piPanelTextarea{
	display: block;
	height: 3rem;
	border: 0rem;
	width:90%;
	outline: none;
	resize: none;
    box-sizing:border-box;
	font-size: 0.2rem;
	margin:0.2rem;
	overflow:visible;
}
