

.piPanel{
	@extend .cardBase;
    width:100%;
    min-height:0.5rem;
	margin-bottom:$gutter;

}

.piPanelHead{
    height:0.45rem;
    width: 100%;
    box-sizing:border-box;
    padding-top: ($piFormRowHeight - $piFormEleHeight) / 2;
    padding-bottom: ($piFormRowHeight - $piFormEleHeight) / 2;
    border-bottom: 0.01rem solid $UIline;

}

.piPanelBody{
    //height:300px;//#
}