$margin:0.1rem;

.studentBlock {
    display: block;
    float: left;
    height: 0.35rem;
    margin-top: $margin;
    margin-bottom: $margin;
    margin-left: $margin;
    margin-right: $margin;
    font-size: 0.2rem;
    border: 1px solid $UIgreen;
    outline: none;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.22), inset 0 -2px 1px 0 $UIborder;
    border-radius: 10px;
    line-height: 0.35rem;
    padding-left: 0.05rem;
    padding-right: 0.05rem;
    text-align: center;
    &:hover{

    		background: $UIline;
    		border: 1px solid $UIpurple;
    		box-shadow: inset 0px 0px 11px 0px #FFFFFF;
    		border-radius: 10px;
    }
}

.studentInfo {
    	display:none;
    	width:2.5rem;
    	position:absolute;
    	top:1rem;
    	left:1rem;
    	border-radius:0.1rem;
    	background: #FFFFFF;
    	border-box:box-sizing;
    	box-shadow: 0rem 0.13rem 0.28rem 0rem rgba(0,0,0,0.50);

    	padding-left:$gutter/2;
    	padding-right:$gutter/2;
}
