<!DOCTYPE html>
<html data-type="#n1">
<head>
	<title></title>
	<meta charset="utf-8">
	<script type="text/javascript" src="../static/js/jquery-3.1.0.js"></script>
	<script type="text/javascript" src="../static/js/main.js"></script>

	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
    <nav class="piTopNavMain">
        <div class="piTopNavLogo"></div>
    	<ul>
    		<li><a href="#" id="#1">主页</a></li>
    		<li><a href="#" id="#2">下载站</a></li>
    		<li ><a href="#" id="#3">应用工具</a></li>
    		<li><a href="#" id="#4">题库</a><div class="new"></div></li>

    		<canvas class="piTopNavAvatar" data-toggle="avatar" data-src="MK" data-srcType="user" data-au="menu" data-target="#navMenu"></canvas>
    		<div class="menuBody" id="navMenu">
    			<ul>
    				<li><span>MK</span></li>
    			</ul>
    			<ul><li><a href="">修改个人信息</a></li>
    			<li><a href="">修改密码</a></li>
    				<li><a href="">退出登录</a></li>
    			</ul>
    		</div>
    	</ul>
    </nav>
    <div style="height:0.5rem;"></div>

<div class="block">
    <div class="row">
        <div class="b12">
            此处有轮播
        </div>
    </div>
    <div class="row">
        <div class="b6">
           <div class="appBlock">
               <div>
                 <img src="../static/img/.png">
                	<div>
                        <div>
                    		<span>赞 12345</span>
                    		<span>ve 12345</span>
                        </div>
                		<button>相关链接</button>
                		<button>赞</button>
                	</div>
               </div>
            	<div>
            		<h3>3d元素周期表</h3>
            		<span>three.js案例</span>
                    <p>网页3d元素周期表展示，基于webGL,该应用为three.js的官方案例。</p>
                    <button>进入</button>
            	</div>
            </div>
        </div>
        <div class="b6">
           <div class="appBlock">
               <div>
                 <img src="../static/img/.png">
                	<div>
                        <div>
                    		<span>赞 12345</span>
                    		<span>ve 12345</span>
                        </div>
                		<button>相关链接</button>
                		<button>赞</button>
                	</div>
               </div>
            	<div>
            		<h3>3d元素周期表</h3>
            		<span>three.js案例</span>
                    <p>网页3d元素周期表展示，基于webGL,该应用为three.js的官方案例。</p>
                    <button>进入</button>
            	</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="b6">
           <div class="appBlock">
               <div>
                 <img src="../static/img/.png">
                	<div>
                        <div>
                    		<span>赞 12345</span>
                    		<span>ve 12345</span>
                        </div>
                		<button>相关链接</button>
                		<button>赞</button>
                	</div>
               </div>
            	<div>
            		<h3>3d元素周期表</h3>
            		<span>three.js案例</span>
                    <p>网页3d元素周期表展示，基于webGL,该应用为three.js的官方案例。</p>
                    <button>进入</button>
            	</div>
            </div>
        </div>
        <div class="b6">
           <div class="appBlock">
               <div>
                 <img src="../static/img/.png">
                	<div>
                        <div>
                    		<span>赞 12345</span>
                    		<span>ve 12345</span>
                        </div>
                		<button>相关链接</button>
                		<button>赞</button>
                	</div>
               </div>
            	<div>
            		<h3>3d元素周期表</h3>
            		<span>three.js案例</span>
                    <p>网页3d元素周期表展示，基于webGL,该应用为three.js的官方案例。</p>
                    <button>进入</button>
            	</div>
            </div>
        </div>
    </div>
</div>



</body>
</html>
