<!DOCTYPE html>
<html data-type="#n1">
<head>
	<title></title>
	<meta charset="utf-8">
	<script type="text/javascript" src="../static/js/jquery-3.1.0.js"></script>
	<script type="text/javascript" src="../static/js/main.js"></script>

	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
    <nav class="piTopNavMain">
        <div class="piTopNavLogo"></div>
    	<ul>
    		<li><a href="#" id="#1">主页</a></li>
    		<li><a href="#" id="#2">下载站</a></li>
    		<li ><a href="#" id="#3">应用工具</a></li>
    		<li><a href="#" id="#4">题库</a><div class="new"></div></li>

    		<canvas class="piTopNavAvatar" data-toggle="avatar" data-src="MK" data-srcType="user" data-au="menu" data-target="#navMenu"></canvas>
    		<div class="menuBody" id="navMenu">
    			<ul>
    				<li><span>MK</span></li>
    			</ul>
    			<ul><li><a href="">修改个人信息</a></li>
    			<li><a href="">修改密码</a></li>
    				<li><a href="">退出登录</a></li>
    			</ul>
    		</div>
    	</ul>
    </nav>
    <div style="height:01rem;"></div>

<div class="block">
	<div class="row">
		<div class="b12">
			<div class="piPanel">
				<div class="piFormRow">
					<div class="row">
						<div class="b3">
							<button type="button" class="piFormBtn">返回作业列表</button>
						</div>
						<div class="b9">
							<button type="button" class="piFormBtn btn-pri">上一题</button>
							<button type="button" class="piFormBtn pullright btn-pri">下一题</button>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="b3">
			<div class="piPanel">
				<div class="piFormRow"></div>
				<div class="piFormRow">
					<span class="piFormText center">此题已做</span>
				</div><div class="piFormRow">
					<span class="piFormText center">保存的答案为</span>
				</div><div class="piFormRow">
					<span class="piFormText center">A</span>
				</div>
				<div class="piFormRow"></div>
				<div class="piFormRow"></div>
			</div>
		</div>
		<div class="b9">
			<div class="piPanel">
				<textarea class="piPanelTextarea" disabled="disabled">
以下叙述中正确的是
A continue语句使得整个循环终止
B break语句不能用于提前结束for语句的本层循环
C 使用break语句可以使流程<a>跳出switch</a>语句体
D 在for语句中，continue与break的效果是一样的，可以互换

				</textarea>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="b3">
		</div>
		<div class="b9">
			<div class="piPanel">
			<div class="piFormRow">
				<div class="row">
					<div class="b3">
						<button class="piFormBtn piFormEleFuildAll">A</button>
					</div>
					<div class="b3">
						<button class="piFormBtn piFormEleFuildAll">B</button>
					</div>
					<div class="b3">
						<button class="piFormBtn piFormEleFuildAll">C</button>
					</div>
					<div class="b3">
						<button class="piFormBtn piFormEleFuildAll">D</button>
					</div>
				</div>
			</div></div>
		</div>
	</div>
</div>





</body>
</html>
