<!DOCTYPE html>
<html data-type="#n3">
<head>
	<title></title>
	<meta charset="utf-8">
	<script type="text/javascript" src="../static/js/jquery-3.1.0.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>

<nav class="piTopNavMain">
    <div class="piTopNavLogo"></div>
	<ul>
		<li><a href="#" id="n1">总览</a></li>
		<li><a href="#" id="n2">作业</a></li>
		<li><a href="#" id="n3">点名</a></li>
		<li><a href="#" id="n4">文件</a></li>
		<li><a href="#" id="n5">留言</a></li>

		<canvas class="piTopNavAvatar" data-toggle="avatar" data-src="MK" data-srcType="course" data-au="menu" data-target="#navMenu"></canvas>
		<div class="menuBody" id="navMenu">
			<ul>
				<li><span>C102</span></li>
				<li><span>周1 34</span></li>
				<li><span>王家辉</span></li>
			</ul>
			<ul>
				<li><a href="">切换课程</a></li>
				<li><a href="">返回主页</a></li>
			</ul>
		</div>
		<span>C语言程序设计</span>
	</ul>
</nav>
<div style="height:100px"></div>

<div class="block">
	<div class="row">
		<div class="b12">
			<div class="piForm">
				<div class="piFormRow">
				<div class="row">
					<div class="b2"><button class="piFormBtn">返回点名记录列表</button></div>
					<div class="b10"><span class="piFormText center">点名记录 1234</span></div>
				</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
<div class="block">
	<div class="row">
		<div class="b3">
			<div class="piForm" style="position:fixed;width:2.4rem">
				<div class="piFormRow"><span class="piFormText center">整体情况</span></div>
				<div class="piFormRow">
					<span class="piFormText" id="time">点名日期：20161212</span>
				</div>
				<div class="piFormRow">
					<span class="piFormText" id="presentRatio">出席率：93%</span>
				</div>
				<div class="piFormRow">
					<span class="piFormText" id="present">出席情况：93/100</span>
				</div>
				<div class="piFormRow">
					<div class="row">
					    <div class="b1"></div>
					    <div class="b10"><button class="piFormBtn btn-fuildAll btn-pri">继续点名</button></div>
						<div class="b1"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="b9">
		    <div class="cardMain">
			    <div class="piFormRow">
			    	<span class="piFormText center">未签到的学生</span>
			    </div>
				<table class="piTable">
					<tbody>
						<tr>
					    	<th>学生</th>
					    	<th>学号</th>
					    	<th>操作</th>
					    </tr>
					    <tr>
					    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
					    </tr>
					    <tr>
					    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
					    </tr>
					    <tr>
					    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">移除记录</button></td>
					    </tr>
					</tbody>
				</table>
			</div>
		    <div class="cardMain">
		    <div class="piFormRow">
		    	<span class="piFormText center">已签到的学生</span>
		    </div>
			<table class="piTable">
				<tbody>
					<tr>
				    	<th>学生</th>
				    	<th>学号</th>
				    	<th>操作</th>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">移除记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">移除记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">移除记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">移除记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">移除记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">移除记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">移除记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">移除记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">移除记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">移除记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">添加记录</button></td>
				    </tr>
				    <tr>
				    	<td>王家辉</td><td>10142430</td><td><button class="piFormBtn">移除记录</button></td>
				    </tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div>



<div style="height:0.5rem;"></div>
<hr class="fullSep">

<div class="block">
	<div class="row">
		<div class="b12">
			<div class="bulletinMain">
			<p style="width:100%;color:#888">文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明</p>
			</div>		
		</div>
	</div>
</div>

<hr class="fullSep">
<div style="height:0.5rem;"></div>


<footer class="piFooterE">
	<div></div>
	<div></div>
	<p>PICLASS 2016</p>
</footer>




</body>
<script type="text/javascript" src="../static/js/main.js"></script>
</html>