<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta charset="utf-8">
	<script type="text/javascript" src="../static/js/jquery-3.1.0.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>

<body>

	<nav class="piTopNavMain">
		<div class="piTopNavLogo"></div>
		<ul>
			<li><a href="#">主页</a></li>
			<li><a href="#">下载站</a></li>
			<li><a href="#">应用工具</a></li>
			<li><a href="#" class="current">题库</a>
				<div class="new"></div>
			</li>

			<canvas class="piTopNavAvatar" data-toggle="avatar" data-src="MK" data-srcType="teacher" data-au="menu" data-target="#navMenu"></canvas>
			<div class="menuBody" id="navMenu">
				<ul>
					<li><a href="">MK</a></li>
					<li><a href="">退出登录</a></li>
				</ul>
				<ul>
					<li><a href="">帐号设置</a></li>
					<li><a href="">信息修改</a></li>
				</ul>

			</div>
		</ul>
	</nav>
	<div style="height:100px"></div>

	<div class="block">
		<div class="row">
			<div class="b12">
				<div class="piPanel">
					<div class="row">

						<div class="b12">
							<div class="piFormRow">
								<div class="piNavBtnGroup" data-toggle="piNavBtnGroup">
									<button class="piBtnGroupActive" data-target="#dangqianzuoye">当前作业</button>
									<button data-target="#lishizuoye">批改过的作业</button>
								</div>
							</div>
							<div class="piFileContainer" id="dangqianzuoye">
								<div class="piHomeworkBlock">
									<h3>第8周作业</h3>
									<ul>
										<li>
											<span>选择</span>
											<div>
												<span>13/13</span>
												<div></div>
											</div>
										</li>
										<li>
											<span>编程</span>
											<div>
												<span>13/13</span>
												<div></div>
											</div>
										</li>
										<li>
											<span>编程</span>
											<div>
												<span>13/13</span>
												<div></div>
											</div>
										</li>
										<li>
											<span>编程</span>
											<div>
												<span>13/13</span>
												<div></div>
											</div>
										</li>
									</ul>
									<button>前往答题</button>
								</div>
								<div class="piHomeworkBlock">
									<h3>第8周作业</h3>
									<ul>
										<li>
											<span>选择</span>
											<div>
												<span>13/13</span>
												<div></div>
											</div>
										</li>
										<li>
											<span>编程</span>
											<div>
												<span>13/13</span>
												<div></div>
											</div>
										</li>
									</ul>
									<button>前往答题</button>
								</div>
								<div class="piHomeworkBlock">
									<h3>第8周作业</h3>
									<ul>
										<li>
											<span>选择</span>
											<div>
												<span>13/13</span>
												<div></div>
											</div>
										</li>
										<li>
											<span>编程</span>
											<div>
												<span>13/13</span>
												<div></div>
											</div>
										</li>
									</ul>
									<button>前往答题</button>
								</div>
							</div>
							<div class="piFileContainer" id="lishizuoye">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div style="height:0.5rem;"></div>
	<hr class="fullSep">

	<div class="block">
		<div class="row">
			<div class="b12">
				<div class="bulletinMain">
					<p style="width:100%;color:#888">文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明</p>
				</div>
			</div>
		</div>
	</div>

	<hr class="fullSep">
	<div style="height:0.5rem;"></div>


	<footer class="piFooterE">
		<div></div>
		<div></div>
		<p>PICLASS 2016</p>
	</footer>


</body>
<script type="text/javascript" src="../static/js/main.js"></script>

</html>
