<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script type="text/javascript" src="../static/js/jquery-3.1.0.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>

<nav class="piTopNavMain">
    <div class="piTopNavLogo"></div>
	<ul>
		<li><a href="#">作业</a></li>
		<li><a href="#" class="current">点名</a></li>
		<li><a href="#">文件</a></li>
		<li><a href="#">留言</a></li>

		<canvas class="piTopNavAvatar" data-toggle="avatar" data-src="MK" data-srcType="teacher" data-au="menu" data-target="#navMenu"></canvas>
		<div class="menuBody" id="navMenu">
			<ul>
				<li><a href="">切换课程</a></li>
			</ul>
			<ul>
				<li><a href="">课程管理</a></li>
			</ul>
		</div>
	</ul>
</nav>
<div style="height:100px"></div>

<div class="block">
	<div class="row">
		<div class="b6">
			<div class="piPanel">
				<div class="piFormRow">
						<div class="piNavBtnGroup" data-toggle="piNavBtnGroup">
							<button class="piBtnGroupActive" data-target="#dangqianzuoye">当前作业</button>
							<button data-target="#lishizuoye">批改过的作业</button>
						</div>
					</div>
					<div class="piCourseContainer" id="dangqianzuoye">
						<div class="piHomeworkBlock">
							<h3>第8周作业</h3>
							<ul>
								<li>
									<span>选择</span>
									<div>
										<span>13/13</span>
										<div></div>
									</div>
								</li>
								<li>
									<span>编程</span>
									<div>
										<span>13/13</span>
										<div></div>
									</div>
								</li>
							</ul>
							<button>前往答题</button>
						</div>
						<div class="piHomeworkBlock">
							<h3>第8周作业</h3>
							<ul>
								<li>
									<span>选择</span>
									<div>
										<span>13/13</span>
										<div></div>
									</div>
								</li>
								<li>
									<span>编程</span>
									<div>
										<span>13/13</span>
										<div></div>
									</div>
								</li>
							</ul>
							<button>前往答题</button>
						</div>
						<div class="piHomeworkBlock">
							<h3>第8周作业</h3>
							<ul>
								<li>
									<span>选择</span>
									<div>
										<span>13/13</span>
										<div></div>
									</div>
								</li>
								<li>
									<span>编程</span>
									<div>
										<span>13/13</span>
										<div></div>
									</div>
								</li>
							</ul>
							<button>前往答题</button>
						</div>
					</div>
					<div class="piCourseContainer" id="lishizuoye">
					</div>
			</div>
		</div>
		<div class="b6">
		    <div class="piPanel" id="newCount">
		    <div class="piFormClearRow"></div>
		    <div class="piFormClearRow"></div>
		    <div class="piFormClearRow"></div>
		    <div class="piFormClearRow">
		    	<div class="row">
		    		<div class="b3"></div>
		    		<div class="b6"><button class="piFormBtn btn-fuildAll" id="switcher">布置一次新的作业</button></div>
		    		<div class="b3"></div>
		    	</div>
		    </div>
		    <div class="piFormClearRow"></div>
		    <div class="piFormClearRow"></div>
		    <div class="piFormClearRow"></div>
		    <div class="piFormClearRow"></div>
		    </div>
			<div class="piPanel" id="countInfo" style="display:none;">
				<div class="piFormRowHead">
				 <span class="piFormText">作业信息填写</span>
				 <button class="piFormBtn pullright btn-warning" id="renewCount">重置</button>
				</div>

				<div class="piFormRow">
					<span class="piFormText ">截止日期</span>
					<input type="date" name="" class="piFormTextInput" id="checkTimeNow">
					<span class="piFormText ">该日期已过</span>
				</div>
				<div class="piFormRow">
					<span class="piFormText ">作业标题</span>
					<input type="text" name="" class="piFormTextInput">
				</div>
				<div class="piFormTextareaRow">
					<span class="piFormText ">备注信息</span>
					<textarea class="piFormTextarea"></textarea>
				</div>
				<div class="piFormRow">
				    <div class="row">
				    	<div class="b4"></div>
				    	<div class="b4"><button class="piFormBtn btn-pri btn-fuildAll">添加题目</button></div>
				    	<div class="b4"></div>
				    </div>

				</div>
			</div>
		</div>
	</div>
</div>

<div style="height:0.5rem;"></div>
<hr class="fullSep">

<div class="block">
	<div class="row">
		<div class="b12">
			<div class="bulletinMain">
			<p style="width:100%;color:#888">文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明</p>
			</div>
		</div>
	</div>
</div>

<hr class="fullSep">
<div style="height:0.5rem;"></div>


<footer class="piFooterE">
	<div></div>
	<div></div>
	<p>PICLASS 2016</p>
</footer>


</body>
<script type="text/javascript" src="../static/js/main.js"></script>
</html>
