<!DOCTYPE html>
<html data-type="#n1">
<head>
	<title></title>
	<meta charset="utf-8">
	<script type="text/javascript" src="../static/js/jquery-3.1.0.js"></script>
	<script type="text/javascript" src="../static/js/main.js"></script>

	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
<nav class="piTopNavMain">
    <div class="piTopNavLogo"></div>
	<ul>
		<li><a href="#" id="n1">总览</a></li>
		<li><a href="#" id="n2">作业</a></li>
		<li><a href="#" id="n3">点名</a></li>
		<li><a href="#" id="n4">文件</a></li>
		<li><a href="#" id="n5">留言</a></li>

		<canvas class="piTopNavAvatar" data-toggle="avatar" data-src="MK" data-srcType="course" data-au="menu" data-target="#navMenu"></canvas>
		<div class="menuBody" id="navMenu">
			<ul>
				<li><span>C102</span></li>
				<li><span>周1 34</span></li>
				<li><span>王家辉</span></li>
			</ul>
			<ul>
				<li><a href="">切换课程</a></li>
				<li><a href="">返回主页</a></li>
			</ul>
		</div>
		<span>C语言程序设计</span>
	</ul>
</nav>
<div style="height:100px"></div>

<div class="block">
	<div class="row">
		<div class="b4">
			<div class="piPanel" >
					<div class="piFormRowHead"><span class="piFormText center">配置作业</span></div>
					<div class="piFormRow"><button class="piFormBtn piFormEleFuildAll">当前还未包含选择题，点击添加</button></div>
					<div class="piFormRow"><span class="piFormText">当前已包含编程题</span><button class="piFormBtn pullright">重新添加</button></div>
					<div class="piFormRow"><button class="piFormBtn piFormEleFuildAll">当前还未包含文件提交，点击添加</button></div>
					<div class="piFormRow"></div>
					<div class="piFormClearRow"></div>
					<div class="piFormRow"><button class="piFormBtn piFormEleFuildAll btn-warning">发布此次作业</button></div>
			</div>
		</div>
		<div class="b8">
			<div class="piPanel">
				<div class="piFormRowHead"><span class="piFormText center">课程学生</span></div>
				<div class="piStudentCourseContainer"></div>
			</div>
		</div>
	</div>
</div>

<div style="height:0.5rem;"></div>
<hr class="fullSep">


<hr class="fullSep">
<div style="height:0.5rem;"></div>
<footer class="piFooterE">
	<div></div>
	<div></div>
	<p>PICLASS 2016</p>
</footer>

</body>
</html>
