<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script type="text/javascript" src="../static/js/jquery-3.1.0.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">

    <link href="../static/js/ueditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" charset="utf-8" src="../static/js/ueditor/umeditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="../static/js/ueditor/umeditor.min.js"></script>
    <script type="text/javascript" src="../static/js/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>

<nav class="piTopNavMain">
    <div class="piTopNavLogo"></div>
	<ul>
		<li><a href="#">作业</a></li>
		<li><a href="#" class="current">点名</a></li>
		<li><a href="#">文件</a></li>
		<li><a href="#">留言</a></li>

		<canvas class="piTopNavAvatar" data-toggle="avatar" data-src="MK" data-srcType="teacher" data-au="menu" data-target="#navMenu"></canvas>
		<div class="menuBody" id="navMenu">
			<ul>
				<li><a href="">切换课程</a></li>
			</ul>
			<ul>
				<li><a href="">课程管理</a></li>
			</ul>
		</div>
	</ul>
</nav>
<div style="height:100px"></div>

<div class="block">
    <div class="row">
        <div class="b12">
            <div class="piPanel">
                <div class="piFormRow">
                    <div class="row">

                        <div class="b4">
                            <div class="piNavBtnGroup">
                                <button >我的消息</button>
                                <button class="piBtnGroupActive">发送留言</button>
                                <button >已发信息查看</button>
                            </div>
                        </div>
                        <div class="b8">
                            <span class="piFormText">请在编辑器输入留言内容，并在下方选择发送对象</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block">
    <div class="row">
        <div class="b12">
            <div class="piPanel">
                <div style="font-size:20px;" >
                <script type="text/plain" id="myEditor" style="width:100%;height:240px;">

                </script>
                <script type="text/javascript">
                    var um = UM.getEditor('myEditor');
                </script>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="block">
    <div class="row">
        <div class="b9">
            <div class="piPanel">
                <div class="piFormRow">
                    <div class="piNavBtnGroup" data-toggle="piNavBtnGroup">
                        <button class="piBtnGroupActive" data-target="#banji">班级</button>
                        <button data-target="#guanliyuan">管理员</button>
                        <button data-target="#xitongqunfa">系统群发</button>
                        <button data-target="#qita">其他</button>
                    </div>
                </div>
                <table class="piTable">
                    <tbody>
                        <tr>
				         <th>学号</th>
				         <th>姓名</th>
				         <th>班级</th>
				         <th>操作</th>
				      </tr>
                      <tr>
                           <td>10133150</td>
                           <td>陈小华</td>
                           <td>1001</td>
                         <td><button class="piFormBtn" onclick=window.location.href="/myclass/student_info.html?student=10133150&class_id=1001">修改</button></td>
                       </tr>
                       <tr>
                            <td>10133150</td>
                            <td>陈小华</td>
                            <td>1001</td>
                          <td><button class="piFormBtn" onclick=window.location.href="/myclass/student_info.html?student=10133150&class_id=1001">修改</button></td>
                        </tr>
                        <tr>
                             <td>10133150</td>
                             <td>陈小华</td>
                             <td>1001</td>
                           <td><button class="piFormBtn" onclick=window.location.href="/myclass/student_info.html?student=10133150&class_id=1001">修改</button></td>
                         </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="b3">
            <div class="piPanel" style="position:fixed;width:2rem;">
                <div class="piFormRow">
                    <button class="piFormBtn piFormEleFuildAll">发送</button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="piFooterE">
	<div></div>
	<div></div>
	<p>PICLASS 2016</p>
</footer>


</body>
<script type="text/javascript" src="../static/js/main.js"></script>
</html>
