<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <style media="screen">
            .from{
                width:100%;
            }
            input{
                width:80%;
                float: left;
            }
        </style>
    </head>
    <body>
        <form class="form" action="index.html" method="post">
            <div class="">
                <input type="text" name="name" value="" placeholder="请输入学号">
                <input type="text" name="name" value="" placeholder="请输入姓名">
                <input type="text" name="name" value="" placeholder="请输入密码">
                <input type="text" name="name" value="" placeholder="请输入学号">
                <input type="text" name="name" value="" placeholder="请输入手机号">
                <input type="text" name="name" value="" placeholder="请输入邮箱">
                <input type="text" name="name" value="" placeholder="请输入寝室">
            </div>
        </form>
    </body>
</html>
