<!DOCTYPE html>
<html data-type="#n1" >
<head>
	<title></title>
	<meta charset="utf-8">
	<script type="text/javascript" src="../static/js/jquery-3.1.0.js"></script>
	<script type="text/javascript" src="../static/js/main.js"></script>
	<script type="text/javascript" src="../static/js/ace/src-min/ace.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
    <nav class="piTopNavMain">
        <div class="piTopNavLogo"></div>
    	<ul>
    		<li><a href="#" id="#1">主页</a></li>
    		<li><a href="#" id="#2">下载站</a></li>
    		<li ><a href="#" id="#3">应用工具</a></li>
    		<li><a href="#" id="#4">题库</a><div class="new"></div></li>

    		<canvas class="piTopNavAvatar" data-toggle="avatar" data-src="MK" data-srcType="user" data-au="menu" data-target="#navMenu"></canvas>
    		<div class="menuBody" id="navMenu">
    			<ul>
    				<li><span>MK</span></li>
    			</ul>
    			<ul><li><a href="">修改个人信息</a></li>
    			<li><a href="">修改密码</a></li>
    				<li><a href="">退出登录</a></li>
    			</ul>
    		</div>
    	</ul>
    </nav>
    <div style="height:0.7rem;"></div>

<div class="wideBlock">
	<div class="row">
		<div class="b5" >
			<div class="piPanel">
				<div class="piFormRow">
					<button type="button" class="piFormBtn">返回题目列表</button>
				</div>
			</div>
			<div class="piPanel">
				<div class="piFormRow">
					<span class="piFormText center">题目名称</span>
				</div>
				<div class="piFormRow">
					<div class="piNavBtnGroup" data-toggle="piNavBtnGroup">
						<button class="piBtnGroupActive" data-target="#timu">题目</button>
						<button data-target="#inout">样例</button>
					</div>
				</div>
				<textarea class="piPanelTextarea" disabled="disabled" id="timu">
以下叙述中正确的是
A continue语句使得整个循环终止
B break语句不能用于提前结束for语句的本层循环
C 使用break语句可以使流程<a>跳出switch</a>语句体
D 在for语句中，continue与break的效果是一样的，可以互换能用于提前结束for语句的本层循环
C 使用break语句可以使流程<a>跳出switch</a>语句体
D 在for语句中，continue与break的效果是一样的，可以互换

				</textarea>
				<textarea class="piPanelTextarea" disabled="disabled" id="inout">
以下叙述中
C 使用break语句可以使流程<a>跳出switch</a>语句体
D 在for语句中，continue与break的效果是一样的，可以互换

				</textarea>
			</div>
		</div>
		<div class="b7">
			<div id="editor" class="piCode"></div>
			<script>
			var editor = ace.edit("editor");
			editor.setTheme("ace/theme/twilight");
			editor.session.setMode("ace/mode/c_cpp");
			</script>
			<div class="piPanel">
				<div class="piFormRow">
					<button type="button" class="piFormBtn pullright">编辑器设定</button>
					<button type="button" class="piFormBtn btn-warning pullright">清空编辑器</button>
					<button type="button" class="piFormBtn " id="clearError">清空错误信息</button>
					<button type="button" class="piFormBtn " id="clearOutput">清空输出信息</button>

				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="b5">
			<div class="piPanel">
				<div class="piFormRow">
					<button type="button" class="piFormBtn btn-pri">上一个学生</button>
					<button type="button" class="piFormBtn pullright btn-pri">下一个学生</button>

				</div>
				<div class="piFormRow">
					<span class="piFormText">当前学生：sdufhks</span>
						<span class="piFormText">当前成绩:0</span>

				</div>
				<div class="piFormRow">
					<span class="piFormText">修改后的成绩:</span>
					<input type="text" name="name" value=""class="piFormTextInput small" placeholder="请输入成绩">
					<button type="button" name="button" class="piFormBtn pullright">提交</button>
				</div>
				<!-- <textarea class="piPanelTextarea codeOutput codeError" disabled="disabled" placeholder="错误信息" id="error">sd</textarea> -->
			</div>
		</div>
		<div class="b7">
			<div class="piPanel">
				<textarea class="piPanelTextarea codeOutput" disabled="disabled" placeholder="输出信息" id="output">
以下叙述中正确的是
A continue语句使得整个循环终止
B break语句不能用于提前结束for语句的本层循环
C 使用break语句可以使流程<a>跳出switch</a>语句体
D 在for语句中，continue与break的效果是一样的，可以互换

				</textarea>
			</div>
		</div>
	</div>
</div>





</body>
</html>
