<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script type="text/javascript" src="../static/js/jquery-3.1.0.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>

<nav class="piTopNavMain">
    <div class="piTopNavLogo"></div>
	<ul>
		<li><a href="#">作业</a></li>
		<li><a href="#" class="current">点名</a></li>
		<li><a href="#">文件</a></li>
		<li><a href="#">留言</a></li>

		<canvas class="piTopNavAvatar" data-toggle="avatar" data-src="MK" data-srcType="teacher" data-au="menu" data-target="#navMenu"></canvas>
	</ul>
</nav>
<div style="height:100px"></div>

<div class="block">
	<div class="row">
		<div class="b12">
		    <div class="cardMain">
		    	<img src="../static/img/qrcode.png" class="piQrcode">

		    	<div class="piFormRow">
		    		<div class="row">
		    			<div class="b4"></div>
		    			<div class="b4"><button class="piFormBtn btn-fuildAll btn-warning">结束点名</button></div>
		    			<div class="b4"></div>
		    		</div>
		    		
		    	</div>
		    </div>
		</div>
	</div>
</div>

<div style="height:0.5rem;"></div>
<hr class="fullSep">

<div class="block">
	<div class="row">
		<div class="b12">
			<div class="bulletinMain">
			<p style="width:100%;color:#888">文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明文件上传说明</p>
			</div>		
		</div>
	</div>
</div>

<hr class="fullSep">
<div style="height:0.5rem;"></div>


<footer class="piFooterE">
	<div></div>
	<div></div>
	<p>PICLASS 2016</p>
</footer>


</body>
<script type="text/javascript" src="../static/js/main.js"></script>
</html>