<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script type="text/javascript" src="../static/js/jquery-3.1.0.js"></script>
	<script type="text/javascript" src="../static/js/piScript.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>
<nav class="piTopNavMain">
    <div class="piTopNavLogo"></div>
	<ul>
		<li><a href="#">主页</a></li>
		<li><a href="#">下载站</a></li>
		<li ><a href="#">应用工具</a></li>
		<li><a href="#"  class="current">题库</a><div class="new"></div></li>

		<canvas class="piTopNavAvatar"></canvas>
	</ul>
</nav>
<div style="height:200px;"></div>

<div class="block">
	<div class="row">
		<div class="b3">
		    <div class="piNameCard">
		    	<canvas></canvas>
		    	<div>
		    		<h3>MK</h3>
		    		<p>10142430</p>
		    		<span>设计学院</span>
		    	</div>
		    	<img src="">
		    </div>
		</div>

		<div class="b9">
		    <div class="piPanel">
		    	<div class="piPanelHead"></div>
		    	<div class="piPanelBody">
		    	    <div class="piCourseContainer">
		    	    <div class="piCourseBlock">
		    			<canvas></canvas>
		    			<button>C语言程序设计</button>
		    			<div>
		    				<span>上课时间：周三 3 4 节</span>
		    				<span>任课教师：abcddd</span>
		    			</div>
		    			<div>
		    				<div><span class="icon-homework">1</span> </div>
		    				<div><span class="icon-file changed">2</span></div>
		    				<div><span class="icon-message">12</span></div>
		    				<div></div>
		    				<button>修改信息</button>
		    			</div>
		    		</div>
		    		<div class="piCourseBlock">
		    			<canvas></canvas>
		    			<button>C语言程序设计</button>
		    			<div>
		    				<span>上课时间：周三 3 4 节</span>
		    				<span>任课教师：abcddd</span>
		    			</div>
		    			<div>
		    				<div><span class="icon-homework">1</span> </div>
		    				<div><span class="icon-file changed">2</span></div>
		    				<div><span class="icon-message">12</span></div>
		    				<div></div>
		    				<button>修改信息</button>
		    			</div>
		    		</div>
		    		
		    	    </div>
		    		

		    	</div>
		    </div>
		</div>
	</div>
</div>


<div class="block">
	<div class="row">
		<div class="b12">
			<div class="piPanel">
				<div class="piPanelHead"></div>
				<div class="piPanelBody">
					<div class="piLinkContainer">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="clear:both;height:500px;"></div>
<footer>
	<div class="piFooterA">
		<ul>
			<li><h4>反馈</h4>
				<ul>
					<li>问题反馈</li>
					<li>建议反馈</li>
				</ul>
			</li>
			<li><h4>团队</h4>
				<ul>
					<li>加入我们</li>
					<li>关于我们</li>
				</ul>
			</li>
			<li><h4>更多</h4>
				<ul>
					<li>开源项目</li>
					<li>donate us!</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="piFooterB">Piclass copyright 2016</div>
</footer>

</body>
</html>