<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script type="text/javascript" src="../static/js/jquery-3.1.0.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>

<nav class="piTopNavMain">
    <div class="piTopNavLogo"></div>
	<ul>
		<li><a href="#">主页</a></li>
		<li><a href="#">下载站</a></li>
		<li ><a href="#">应用工具</a></li>
		<li><a href="#"  class="current">题库</a><div class="new"></div></li>

		<canvas class="piTopNavAvatar"></canvas>
	</ul>
</nav>
<div style="height:100px"></div>

<div class="block">
	<div class="row">
		<div class="b12">
			<div class="piPanel">
				<div class="row">

					<div class="b8">
					<div class="piFormRow">
						<div class="piNavBtnGroup" data-toggle="piNavBtnGroup">
							<button class="active" data-target="#kechenwenjian">课程文件分享</button>
							<button data-target="#wodewenjian">我的文件</button>
						</div>
					</div>
						<div class="piFileContainer" id="kechenwenjian">123123123</div>
						<div class="piFileContainer" id="wodewenjian">sasdasdasd</div>
					</div>

					<div class="b4">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
<script type="text/javascript" src="../static/js/main.js"></script>
</html>