<!DOCTYPE html>
<html>
<head>
	<title>test</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>

<nav class="piTopNavMain">
    <div class="piTopNavLogo"></div>
	<ul>
		<li><a href="#">主页</a></li>
		<li><a href="#">下载站</a></li>
		<li ><a href="#">应用工具</a></li>
		<li><a href="#"  class="current">题库</a><div class="new"></div></li>

		<canvas class="piTopNavAvatar"></canvas>
	</ul>
</nav>

<div style="height:200px;"></div>

<div class="block">
	<div class="row">
		<div class="b3"><div class="cardMain"></div></div>

		<div class="b6"><form class="piForm">
			<div class="piFormRowHead">
				<a href="#" class="piFormBtn">发送123434433</a>
				<button href="#" class="piFormBtn">tesretet</button>
				<a href="#" class="piFormBtn pullright">发送123434433</a>
			</div>

			<div class="piFormRow">
				<span class="piFormText ">标题内容</span>
			<a href="#" class="piFormBtn pullright">发送123434433</a>
			</div>
 <div class="piFormRow">
				<a href="#" class="piFormBtn">test</a>
				<input type="text" name="" class="piFormTextInput">
				<input type="text" name="" class="piFormTextInput">
			</div>
			<div class="piFormRow">
			    <a href="#" class="piFormBtn">发送123434433</a>
				<a href="#" class="piFormBtn">tesretet</a>
				<a href="#" class="piFormBtn pullright">发送123434433</a>
			</div>

			<div class="piFormRow">
				<a href="#" class="piFormBtn">test</a>
				<input type="text" name="" class="piFormTextInput">
				<span class="piFormText pullright">标题内容</span>
			</div>

		</form></div>
		<div class="b3" ><div class="cardMain"></div></div>
	</div>
</div>

<div style="clear:both"></div>

<div class="block">
	<div class="row">
		<div class="b3">
			<div class="row">
				<div class="b4">
					<div class="cardMain"></div>
				</div>
				<div class="b7"><div class="cardMain"></div></div>
				<div class="b1"><div class="cardMain"></div></div>
			</div>
		</div>
		<div class="b4">
			<div class="cardMain"></div>
		</div>
		<div class="b5"><div class="cardMain"></div></div>
	</div>
</div>

<div class="block">
	<div class="row">
		<div class="b1"><div class="cardMain"></div></div>
		<div class="b1"><div class="cardMain"></div></div>
		<div class="b1"><div class="cardMain"></div></div>
		<div class="b1"></div>
		<div class="b1"></div>
		<div class="b1"><div class="cardMain"></div></div>
		<div class="b1"><div class="cardMain"></div></div>
		<div class="b1"><div class="cardMain"></div></div>
		<div class="b1"><div class="cardMain"></div></div>
		<div class="b1"><div class="cardMain"></div></div>
		<div class="b1"><div class="cardMain"></div></div>
		<div class="b1"><div class="cardMain"></div></div>
	</div>
</div>

<div class="block">
	<div class="row">
		<div class="b1"><div class="cardMain"></div></div>
		<div class="b2"><div class="cardMain"></div></div>
		<div class="b3"><div class="cardMain"></div></div>
		<div class="b4"><div class="cardMain"></div></div>
	</div>
</div>

<div class="block">
	<div class="row">
		<div class="b5"><div class="cardMain"></div></div>
		<div class="b6"><div class="cardMain"></div></div>
	</div>
</div>

</body>
</html>