<!DOCTYPE html>
<html data-type="#nav_zy">

<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="../static/js/jquery-3.1.0.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">

    <title></title>




</head>

<body data-pageType="main">

    <nav class="piTopNavMain">
        <div class="piTopNavLogo"></div>
        <ul>
            <li><a href="/myclass/student_index.html?class_id=1001&student=10132405" id="nav_zl">总览</a></li>
            <li><a href="/homework/student_index.html?class_id=1001" id="nav_zy">作业</a></li>
            <!-- <li><a href="/count/count.html?class_id=1001" id="nav_dm">点名</a></li> -->
            <li><a href="/file/studentfile.html?class_id=1001" id="nav_wj">文件</a></li>
            <li><a href="/message/student_send.html?class_id=1001" id="nav_ly">留言</a></li>

            <canvas class="piTopNavAvatar" data-toggle="avatar" data-src="C语言20151" data-srcType="course" data-au="menu" data-target="#navMenu"></canvas>
            <div class="menuBody" id="navMenu">
                <ul>

                    <li><span>D106</span></li>
                    <li><span>文欣秀</span></li>
                    <li><span>周三3-4节</span></li>
                </ul>
                <ul>
                    <li><a href="/">切换课程</a></li>
                    <li><a href="/">返回主页</a></li>
                </ul>
            </div>
            <span>C语言20151</span>
        </ul>
    </nav>








    <div style="height:100px"></div>

    <div class="block">
        <div class="row">

            <div class="b12">
                <div class="piPanel">
                    <div class="piFormRowHead">
                        <div class="piNavBtnGroup" data-toggle="piNavBtnGroup">
                            <button class="piBtnGroupActive" data-target="#program">程序类</button>
                            <button data-target="#choice">填选类</button>
                            <!-- <button data-target="#office">操作类</button> -->
                            <button data-target="#file">文件类</button>
                        </div>
                    </div>
                    <div id="program">

                        <table class="piTable">
                            <tbody>
                                <tr>
                                    <th>题号</th>
                                    <th>题目</th>
                                    <th>成绩</th>
                                    <th style="width:50%">备注</th>
                                    <th>答题</th>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <div id="file">
                        <table class="piTable">
                            <tbody>

                                <tr>
                                    <th>题号</th>
                                    <th>题目</th>
                                    <th>成绩</th>
                                    <th>答题</th>
                                </tr>



                            </tbody>
                        </table>

                    </div>
                    <div id="choice">
                        <div class="piChoiceContainerStudent" data-src="7007" data-target="#detail"></div>
                    </div>




                </div>
            </div>
        </div>
    </div>

    <div class="choiceDropdown" id="detail">
        <textarea disabled="disabled" id="detailtext">ertertert</textarea>
        <div class="piFormRow">
            <span class="piFormText" id="currentanswer">dfgdfgdfg</span>
            <button class="piFormBtn pullright" id="answer">答题</button>
        </div>
    </div>

    <form enctype="multipart/form-data" role="form" method="post" action="">
        <input type='hidden' name='csrfmiddlewaretoken' value='Z0g8wWYevx2WuNyKKqvFu0o9ZQLcXxwd' />
        <div class="piModal" id="m">
            <div class="piFormRowHead">
                <span class="piFormText">删除确认</span>
            </div>
            <div class="piFormRow"></div>
            <div class="piFormRow">
                <span class="piFormText">您确定要删除题目</span>
                <input class="piFormTextInput" name="delete_id" id="qwe">
            </div>
            <div class="piFormRow"></div>
            <div class="piFormRow">
                <div class="b8"></div>
                <div class="b2">
                    <button class="piFormBtn" type="submit" name="delete" style="width:100%">提交</button>
                </div>
                <div class="b2">
                    <button class="piFormBtn btn-warning" type="button" name="button" data-dismiss="modal" style="width:100%">关闭</button>
                </div>
            </div>
    </form>











    <script type="text/javascript" src="../static/js/main.js"></script>

    <footer class="piFooterE">
        <div></div>
        <div></div>
        <p>PICLASS 2016</p>
    </footer>

</body>

</html>
